.expenses{
    width: 52%;
    height: 70%;
    margin: 30px auto;
    border-radius: 2%;
    padding: 15px 17px;
    background-color: rgb(31, 31, 31);
}
.expenses p{
    font-size: x-large;
    color: white;
    font-family:"Myriad Pro";
}